.canvasHolder {
	background-color:#FFF;
    width: 90%;
    height: 90%;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr;
}

#testCanvas {
    width: 90%;
    height: 90%;
	-ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
}