<html>
  <head>
    <meta charset="UTF-8"/>
    <title>WorldMap CameLearn</title>
    <script type="text/javascript" src="../../public/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="../../public/js/jquery.history.js"></script>
    <script type="text/javascript" src="../../public/js/raphael.js"></script>
    <script type="text/javascript" src="../../public/js/vis4.js"></script>
    <script type="text/javascript" src="../../public/js/Tween.js"></script>
    <script type="text/javascript" src="../../public/js/bubbletree.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/css/bubbletree.css" />
    <link rel="stylesheet" type="text/css" href="./style.css">

    <script type="text/javascript" src="./script.js"></script>

  </head>
  <body>
    <div class="bubbletree-wrapper">
      <div class="bubbletree"></div>
    </div>
  </body>
</html>
