<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Games</title>
	<script src="./js/easeljs-0.6.0.min.js"></script>

	<script src="./js/ContentManager.js"></script>
	<script src="./js/Monster.js"></script>
	<script src="./js/Player.js"></script>
	
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
	
	<script src="./js/Game.js"></script>
	
</head>
	
<body>
	<div class="description">

	</div>
	<div class="canvasHolder">
		<canvas id="testCanvas" width="800" height="480">
            Your browser doesn't support canvas. Please download IE9+ on <a href="http://ie.microsoft.com/testdrive">IE Test Drive</a> 
        </canvas>
	</div>
    <script>init();</script>
</body>
</html>